# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

exclude: original

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: trailing-whitespace
      - id: end-of-file-fixer
      # - id: double-quote-string-fixer
      - id: check-yaml
      # - id: check-added-large-files
      - id: requirements-txt-fixer
      # - id: name-tests-test
      #   args: ["--django"]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier

  - repo: local
    hooks:
      - id: isort
        name: Run isort
        entry: isort
        language: python
        args: ["--profile", "google", "--filter-files"]
        types: [file, python]
      - id: black
        name: Run black
        entry: black
        language: python
        types: [file, python]
      - id: flake8
        name: Run flake8
        entry: flake8
        language: python
        additional_dependencies: [flake8-bugbear]
        types: [file, python]
      - id: mypy
        name: Run mypy
        entry: mypy
        language: python
        types: [file, python]
      - id: pyupgrade
        name: Run pyupgrade
        entry: pyupgrade
        language: python
        args: ["--py39-plus"]
        types: [file, python]
