name: Check code quality

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  code-quality:
    name: Code quality
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          make requirements-dev
          make requirements
      - name: Install pre-commit hooks
        run: |
          pre-commit install
      - name: Run pre-commit
        run: |
          pre-commit run -a

  run-tests:
    name: Tests on ${{ matrix.os }} and ${{ matrix.python }}
    needs: [code-quality]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python: ["3.9", "3.10", "3.11", "3.12", "3.13", "pypy3.9", "pypy3.10"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: ${{ matrix.python }}
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          make requirements-dev
          make requirements
      - name: Code coverage
        run: |
          make run-tests

  code-coverage:
    name: Code coverage
    needs: [run-tests, code-quality]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          make requirements-dev
          make requirements
      - name: Code coverage
        run: |
          make run-coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: martin-majlis/Wikipedia-API
