name: Check code quality

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  code-quality-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install pre-commit
        run: |
          python -m pip install -U pip
          make requirements-dev
          make requirements
      - name: Install pre-commit hooks
        run: |
          pre-commit install
      - name: Run pre-commit
        run: |
          pre-commit run -a
      - name: Code coverage
        run: |
          make coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: martin-majlis/Wikipedia-API
